$layout-xs: 768px;
$layout-sm: 1024px;
$layout-mat: 1280px;
$layout-lg: 1920px;

$colorPlayStore: #080808;
$colorFontPricinpal: #4d4d4d;
$colorFont: #9e9e9e;
$colorGreen: #1ec69f;
$colorButtonGreen: #02e677;
$colorButtonBlue: #1059FF;
$colorInstagram: #980dd9;
$colorPrimary: #00b0ff;
$blueWarn: #667eea;
$blueGradient: #21A4D3;
$colorBackground: #f6f6f6;
$colorSec: #fdcd3b;
$salmon: #feb47b;
$salmonSec: #ff7e5f;

// yellow #fdcd3b, #ffed4b
// vlue #2193b0 → #6dd5ed
// blues #02aab0 → #00cdac
// black #000428 → #004e92
// white #fdfbfb → #ebedee
// white #f5f7fa → #c3cfe2
// blue #667eea → #764ba2