@import '../../sass/variables', '../../sass/mixins';

.pokemon-view {

  @media screen and (max-width: $layout-xs) and (orientation: landscape) {

    .columns .column {
      flex-basis: 100%;
      margin: 0 0 5px 0;
    }
  }

  @media screen and (max-width: $layout-sm) {
    .columns .column {
      margin-bottom: 5px;
      flex-basis: 40%;

      &:nth-last-child(2) {
        margin-right: 0;
      }

      &:last-child {
        flex-basis: 100%;
        margin: 0;
      }
    }
  }

  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px 10px;
  }

  .column {
    box-shadow: 0px 6px 15px 0px rgba(40, 80, 121, 0.25);
    height: auto;
    flex: 1;
    margin: 5px;
    padding: 24px 30px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    color: $colorFont;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(0.9);
    }

  }

  .title-style-h1 {
    font-weight: 400;
    font-size: 26px;
  }

  .container-item-type {
    margin-bottom: 8px;
    color: white;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    text-align: center;
    -webkit-animation-name: Animation;
    animation: Animation infinite;
    -webkit-animation-duration: 12s;
    animation-name: Animation;
    animation-duration: 12s;
  }

  .container-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }

  .contaier-title-pokemon {
    background-color: white;
    box-shadow: 0px 6px 15px 6px rgba(36, 37, 38, 0.08);
    text-align: center;
    border-radius: 16px;
    width: 100%;
  }

  .pokemon-title {
    color: $colorFont;
    font-weight: 500;
  }

  .container-abilities {
    margin-bottom: 8px;
    color: white;
    background-color: $salmon;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    text-align: center;
  }

  @keyframes Animation {
    0% { background: $colorSec; }
    25% { background: $colorButtonGreen; }
    50% { background: $colorInstagram; }
    75% { background: $blueWarn; }
    100% { background: $colorSec; }
  }

  @-webkit-keyframes Animation {
    0% { background: $colorSec; }
    25% { background: $colorButtonGreen; }
    50% { background: $colorInstagram; }
    75% { background: $blueWarn; }
    100% { background: $colorSec; }
  }
}
