<div *ngIf="pokemon" class="pokemon-view">
  <div class="container-pokemon">
    <h1 class="pokemon-title">{{ pokemon.name | titlecase }}
      <span>N.º {{pokemon.id}}</span>
    </h1>
    <div class="image-pokemon">
      <img width="100" [src]="pokemon.sprites.front_default">
    </div>
    <div class="columns">
      <div class="column container-height">
        <p>Height:<br>
          <span>{{ pokemon.height }} Ft</span>
        </p>
        <p>Weight:<br>
          <span>{{ pokemon.weight }} Lbs</span>
        </p>
      </div>
      <div class="column container-type">
        <h1>Type</h1>
        <div *ngFor="let item of pokemon.types">
          {{ item.type.name }}
        </div>
      </div>
      <div class="column container-abilities">
        <h1>Abilities</h1>
        <div *ngFor="let item of pokemon.abilities">
          {{ item.ability.name }}
        </div>
      </div>
      <div class="column container-stats">
        <h1>Stats</h1>
        <div *ngFor="let poke of pokemon.stats">
          {{ poke.base_stat }} {{ poke.stat.name }}
        </div>
      </div>
    </div>
  </div>
</div>